body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0px;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

                                            /* Хедер */

.main-navigation {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
    font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #b2b2b2;
}


                                            /* Main */

.welcome-images {
    width: 1200px;
    height: 800px;
    background-image: 
    url("../img/index/white-mask.svg"), 
    url("../img/index/welcome-to-sedona.svg"), 
    url("../img/index/bg.jpg");
    background-position: 0px 532px, 50% 160px, 50% 50%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.about-sedona {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.advantages h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.advantages-list {
    list-style: none;
    background-color: #efefef;
    color: #333333;
}

.advantages-list li {
    text-align: center;
}

.blue-bg {
    background-color: #81b3d2;
    color: #ffffff;
}

.list-image-hotel {
    background-image: url("../img/index/hotel-bg.jpg");
    background-repeat: no-repeat;
    width: 800px;
    height: 400px;
}

.list-image-mountains {
    background-image: url("../img/index/small-mountains-bg.jpg");
    background-repeat: no-repeat;
    width: 800px;
    height: 400px;
}

.advantages-list h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.features {
    list-style: none;
    background-color: #ffffff;
}

.features li {
    color: #333333;
    font-weight: 400;
}

.features h4 {
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
}

.container {
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.interested b {
    color: #333333;
    font-size: 30px;
    line-height: 36px;
}

.hotel-search form {
    background-color: #ffffff;
}

.hotel-search h2 {
    color: #ffffff;
    background-color: #766357;
    font-size: 21px;
    line-height: 26px;
}

.hotel-search h2:hover,
.hotel-search h2:focus {
    background-color: #604e43;
}

.hotel-search h2:active {
    color: #847870;
    background-color: #503e33;
}

.hotel-search-form label {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.hotel-search-form input {
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.hotel-search-form input:hover {
    background-color: #ebebeb;
}

.hotel-search-form input:focus {
    outline: none;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.button {
    font: inherit;
    text-transform: uppercase;
    border: none;
}

.button-min,
.button-plus {
    background-color: #f2f2f2;
    color: #a9a9a9;
} 

.button-min:hover,
.button-plus:hover,
.button-min:focus,
.button-plus:focus {
    color: #000000;
}

.button-min:active,
.button-plus:active {
    color: #81b3d2;
}

.search-button {
    color: #ffffff;
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    width: 458px;
    height: 58px;
}

.search-button:hover,
.search-button:focus {
    background-color:#669ec0;
}

.search-button:active {
    background-color: #5496bd;
    color: #87b6d1;
}

.map-bg {
    width: 1200px;
    height: 594px;
    background-image: url("../img/index/map.jpg")
}

                                          /* Футер */

.main-footer span {
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.social {
    list-style: none;
}

.twitter {
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    background-image: url("../img/index/icon-twitter.svg");
    background-position: center center;
    background-repeat: no-repeat;

    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.facebook {
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    background-image: url("../img/index/icon-fb.svg");
    background-position: center center;
    background-repeat: no-repeat;

    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.youtube {
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    background-image: url("../img/index/icon-youtube.svg");
    background-position: center center;
    background-repeat: no-repeat;

    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.twitter:hover,
.facebook:hover,
.youtube:hover,
.twitter:focus,
.facebook:focus,
.youtube:focus {
    background-color: #669ec0;
}

.twitter:active {
    background-color: #5496bd;
    background-image: url("../img/index/icon-twitter-active.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.facebook:active {
    background-color: #5496bd;
    background-image: url("../img/index/icon-fb-active.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.youtube:active {
    background-color: #5496bd;
    background-image: url("../img/index/icon-youtube-active.svg");
    background-position: center center;
    background-repeat: no-repeat;
}




                                            /* hotels main */

.filter {
    color: #ffffff;
    background-color: #85a4c2;
    list-style: none;
    background-image: url(../img/hotels/mountains-blurry-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
}

.filter input {
    background-color: transparent;
    border: none;
    color: #ffffff;
}
.filter ul {
    list-style: none;
}

.filter-button {
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: transparent;
    width: 133px;
    height: 32px;
    font: inherit;
    text-transform: uppercase;
}

.wrap-sorting {
    background-color: #fefefe;
}

.found {
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.sort {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.sort-links {
    list-style: none;
}

.sort-link {
    color: #b2b2b2;
    font-size: 12px;
    line-height: 18px;
    text-decoration:underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
}

.sort-link:hover,
.sort-link:focus {
    color: #81b3d2;
    text-decoration:underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
}

.sort-link:active {
    color: #000000;
    text-decoration: none;
}

.sort-buttons {
    list-style: none;
}

.arrow-up::before {
    content: url(../img/hotels/icon-arrow-up.svg);
}

.arrow-up:hover::before {
    content: url(../img/hotels/icon-arrow-up-hover.svg);
}

.arrow-up:active::before {
    content: url(../img/hotels/icon-arrow-up-active.svg);
}

.arrow-down::before {
    content: url(../img/hotels/icon-arrow-down.svg);
}

.arrow-down:hover::before {
    content: url(../img/hotels/icon-arrow-down-hover.svg);
}

.arrow-down:active::before {
    content: url(../img/hotels/icon-arrow-down-active.svg);
}

.hotels-found {
    width: 1200px;
    height: 450px;
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
    background-color: #fefefe;
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    border-right: none;
    border-left: none;
}

/* Временные рамки для работы с таблицей*/

/* td, th {
    border: 1px solid black;
} */

/* Временные рамки для работы с таблицей*/

.align-right {
    text-align: right;
    padding-right: 72px;
    padding-top: 30px;
}

.hotels-found th {
    padding-top: 30px;
}

.hotels-found td:first-child {
    text-align: right;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 12px;
}

.rating {
    display: block;
}

.hotels-found tr:nth-child(3n + 1) {
    border-top: 1px solid #e5e5e5;
}

.hotels-found a {
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.hotels-found a:hover,
.hotels-found a:focus {
    color: #81b3d2;
}

.hotels-found a:active {
    color: #b2b2b2;
}

.rating {
    color: #666666;
    background-color: #f2f2f2;
    width: 110px;
    height: 27px;
}

.hotels-found .button-more {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    background-color: #81b3d2;
    width: 110px;
    height: 27px;
}

.hotels-found .button-more:hover,
.hotels-found .button-more:focus {
    color: #ffffff;
    background-color: #669ec0;
}

.hotels-found .button-more:active {
    color: #87b6d1;
    background-color: #5496bd;
}

.hotels-found .button-book {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    background-color: #766357;
    width: 142px;
    height: 27px;
}

.hotels-found .button-book:hover,
.hotels-found .button-book:focus {
    color: #ffffff;
    background-color: #604e43;
}

.hotels-found .button-book:active {
    color: #847870;
    background-color: #503e33;
}




                                                            /* СЕТКА */


body {
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}


.main-header {
    margin-bottom: 0px;
    min-height: 56px;
    
}

.index-logo {
    display: inline-block;
}

.main-navigation {
    /* display: flex; */
    /* flex-direction: column; */
    
}

.site-navigation {
    margin: 0;
    padding: 0;
    width: 1200px;
    min-height: 56px;
    display: flex;
    margin-top: -80px;
    background: #ffffff;

    min-height:56px;
    background-color: rgba(255, 230, 153, 0.3)
}

.site-navigation li {
    width: 239px;
    height: 56px;
    
}

.site-navigation-wrapper-left {
    width: 600px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    background: #ffffff;
}

.site-navigation-wrapper-right {
    width: 600px;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    margin-left: 244px;
    background: #ffffff;
}

.welcome-images {
    margin-top: -56px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-sedona {
    margin-top: -210px;
    background-color: white;
    width: 100%;
    height: 216px;
    padding-top: 61px;
}

.advantages {
    margin-top: -107px;
    background-color: rgba(255, 230, 153, 0.3);
}

.advantages-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.blue-bg {
    width: 400px;
    height: 256px;
}


.list-image-hotel {
    width: 800px;
    height: 256px;
}

.features .house::before {
    content: url(../img/hotels/icon-house.svg);
    width: 75px;
    height: 72px;
    /* Почему не работает(( */
}

.features {
    display: flex;
    justify-content: space-between;
}

.features li {
    width: 400px;
    height: 330px;
    padding: 0;
    margin: 0;
}

.advantages-list li:nth-child(n+6) {
    width: 400px;
    height: 256px;
    padding: 0;
    margin: 0;
}